<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Server=.;Database=AgendaTest;Trusted_Connection=True;Connection Timeout=60"/>
    <add name="conSetUpTest" connectionString="Server=.;Database=Agenda;Trusted_Connection=True;Connection Timeout=60" providerName="AgendaTest"/>
  </connectionStrings>
</configuration>